/* Main */
* {
  font-family: Roboto1, Roboto, sans-serif;
}
html, body {
  min-height: 100%;
  min-height: 100vh;
  font-size: 16px;
  line-height: 24px;
}
body {
  max-width: 40em;
  text-align: justify;
  margin: 0 auto;
  padding: .5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
}
form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: stretch;
  justify-content: center;
  max-width: 40em;
}
label, input, select, p {
  padding: 4px;
  margin: 4px;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  background: transparent;

}
option {
  padding: 0 .5em;
  line-height: 24px;
}
label {
  color: #999;
  font-variant: small-caps;
  text-align: right;
  text-transform: lowercase;
  min-width: 100px;
}
input {
  border: none;
  border-bottom: 1px solid #999;
  min-width: 12em;
  flex-grow: 1;
  height: auto !important;
}
input:focus, a {
  color: #229Dd7;
  border-bottom-color: #229Dd7;
  outline: none;
}
footer {
  text-align: center;
}